
<h1>All Goals</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
  </tr>
 
  <% @goals.each do |goal| %>
    <tr>
      <td><%= goal.title %></td>
      <td><%= goal.description %></td>
      <td><%= link_to 'Show', goal_path(goal) %></td>
    </tr>
  <% end %>


</table>

<table>
<h1>Today_goals</h1>
  <% @goals.select{|i| i.is_today?}.each do |goal|%>
    <tr>
      <td><%= goal.title %></td>
      <td><%= goal.description %></td>
      <td><%= link_to "Add Success", goal_success_updater_path(goal)%></td>
    </tr>
  <% end %>
</table>